body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1135px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:957px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:957px;
}
#u105 {
  position:absolute;
  left:2px;
  top:470px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:40px;
  top:659px;
  width:539px;
  height:41px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107 {
  position:absolute;
  left:40px;
  top:815px;
  width:539px;
  height:41px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108 {
  position:absolute;
  left:32px;
  top:888px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u109 {
  position:absolute;
  left:19px;
  top:95px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u111 {
  position:absolute;
  left:2px;
  top:23px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:982px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:835px;
  top:-25px;
  width:300px;
  height:982px;
}
#u113 {
  position:absolute;
  left:2px;
  top:483px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:88px;
}
#u114 {
  position:absolute;
  left:0px;
  top:956px;
  width:835px;
  height:88px;
}
#u115 {
  position:absolute;
  left:2px;
  top:36px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
