body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:804px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:804px;
}
#u19 {
  position:absolute;
  left:2px;
  top:394px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:27px;
  top:281px;
  width:146px;
  height:41px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:20px;
  top:81px;
  width:90px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:15px;
  top:332px;
  width:151px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:62px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:62px;
}
#u24 {
  position:absolute;
  left:2px;
  top:23px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
