body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:719px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:719px;
}
#u85 {
  position:absolute;
  left:2px;
  top:352px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:25px;
  top:102px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u87 {
  position:absolute;
  left:40px;
  top:598px;
  width:135px;
  height:41px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88 {
  position:absolute;
  left:36px;
  top:653px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:88px;
}
#u89 {
  position:absolute;
  left:0px;
  top:718px;
  width:941px;
  height:88px;
}
#u90 {
  position:absolute;
  left:2px;
  top:36px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
