body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:809px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:742px;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:742px;
}
#u321 {
  position:absolute;
  left:2px;
  top:363px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  position:absolute;
  left:28px;
  top:517px;
  width:49px;
  height:39px;
}
#u322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u323 {
  position:absolute;
  left:94px;
  top:517px;
  width:62px;
  height:39px;
}
#u323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u324 {
  position:absolute;
  left:174px;
  top:517px;
  width:72px;
  height:39px;
}
#u324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u325 {
  position:absolute;
  left:18px;
  top:92px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u326 {
  position:absolute;
  left:18px;
  top:566px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
