body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:835px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:720px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:720px;
}
#u67 {
  position:absolute;
  left:2px;
  top:352px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:37px;
  top:293px;
  width:539px;
  height:41px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u69 {
  position:absolute;
  left:36px;
  top:421px;
  width:539px;
  height:41px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u70 {
  position:absolute;
  left:37px;
  top:577px;
  width:539px;
  height:41px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u71 {
  position:absolute;
  left:24px;
  top:74px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:31px;
  top:648px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u74 {
  position:absolute;
  left:2px;
  top:23px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:88px;
}
#u75 {
  position:absolute;
  left:0px;
  top:719px;
  width:835px;
  height:88px;
}
#u76 {
  position:absolute;
  left:2px;
  top:36px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
