body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:996px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:715px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:715px;
}
#u254 {
  position:absolute;
  left:2px;
  top:350px;
  width:992px;
  visibility:hidden;
  word-wrap:break-word;
}
