body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:829px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:681px;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:681px;
}
#u933 {
  position:absolute;
  left:2px;
  top:332px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:19px;
  top:100px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u935 {
  position:absolute;
  left:33px;
  top:373px;
  width:53px;
  height:39px;
}
#u935_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u936 {
  position:absolute;
  left:105px;
  top:373px;
  width:70px;
  height:39px;
}
#u936_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u937 {
  position:absolute;
  left:195px;
  top:373px;
  width:72px;
  height:39px;
}
#u937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u938 {
  position:absolute;
  left:27px;
  top:428px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
