body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:992px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:618px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:618px;
}
#u92 {
  position:absolute;
  left:2px;
  top:301px;
  width:988px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u93 {
  position:absolute;
  left:315px;
  top:343px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u95 {
  position:absolute;
  left:315px;
  top:388px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u97 {
  position:absolute;
  left:315px;
  top:289px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u99 {
  position:absolute;
  left:315px;
  top:238px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:278px;
  top:276px;
  width:613px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102 {
  position:absolute;
  left:278px;
  top:234px;
  width:613px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u103 {
  position:absolute;
  left:31px;
  top:439px;
  width:200px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u104 {
  position:absolute;
  left:39px;
  top:153px;
  width:860px;
  height:59px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u105 {
  position:absolute;
  left:2px;
  top:18px;
  width:856px;
  word-wrap:break-word;
}
