body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:697px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  position:absolute;
  left:0px;
  top:14px;
  width:842px;
  height:697px;
}
#u677 {
  position:absolute;
  left:2px;
  top:340px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:57px;
}
#u678 {
  position:absolute;
  left:1px;
  top:0px;
  width:840px;
  height:57px;
}
#u679 {
  position:absolute;
  left:2px;
  top:20px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u680 {
  position:absolute;
  left:27px;
  top:146px;
  width:462px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  white-space:nowrap;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:113px;
}
#u682 {
  position:absolute;
  left:37px;
  top:401px;
  width:617px;
  height:113px;
}
#u683 {
  position:absolute;
  left:2px;
  top:48px;
  width:613px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:70px;
}
#u684 {
  position:absolute;
  left:-28px;
  top:626px;
  width:869px;
  height:70px;
}
#u685 {
  position:absolute;
  left:2px;
  top:27px;
  width:865px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u686 {
  position:absolute;
  left:80px;
  top:262px;
  width:373px;
  height:25px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u688 {
  position:absolute;
  left:80px;
  top:305px;
  width:421px;
  height:25px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u690 {
  position:absolute;
  left:80px;
  top:347px;
  width:421px;
  height:25px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u692 {
  position:absolute;
  left:37px;
  top:257px;
  width:27px;
  height:27px;
}
#u693 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u694 {
  position:absolute;
  left:37px;
  top:257px;
  width:27px;
  height:27px;
}
#u695 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u696 {
  position:absolute;
  left:37px;
  top:301px;
  width:27px;
  height:27px;
}
#u697 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u698 {
  position:absolute;
  left:37px;
  top:301px;
  width:27px;
  height:27px;
}
#u699 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u700 {
  position:absolute;
  left:37px;
  top:344px;
  width:27px;
  height:27px;
}
#u701 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u702 {
  position:absolute;
  left:37px;
  top:344px;
  width:27px;
  height:27px;
}
#u703 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#06A0A0;
}
#u704 {
  position:absolute;
  left:217px;
  top:549px;
  width:190px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#06A0A0;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u706 {
  position:absolute;
  left:27px;
  top:199px;
  width:743px;
  height:48px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:48px;
}
#u708 {
  position:absolute;
  left:33px;
  top:536px;
  width:85px;
  height:48px;
}
#u709 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710 {
  position:absolute;
  left:20px;
  top:529px;
  width:112px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u711 {
  position:absolute;
  left:44px;
  top:305px;
  width:227px;
  height:16px;
}
#u712 {
  position:absolute;
  left:16px;
  top:0px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u713 {
  position:absolute;
  left:44px;
  top:261px;
  width:227px;
  height:16px;
}
#u714 {
  position:absolute;
  left:16px;
  top:0px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u715 {
  position:absolute;
  left:44px;
  top:348px;
  width:227px;
  height:16px;
}
#u716 {
  position:absolute;
  left:16px;
  top:0px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u717 {
  position:absolute;
  left:32px;
  top:254px;
  width:221px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u718 {
  position:absolute;
  left:34px;
  top:298px;
  width:221px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u719 {
  position:absolute;
  left:37px;
  top:339px;
  width:221px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721 {
  position:absolute;
  left:33px;
  top:77px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#06A0A0;
}
#u722 {
  position:absolute;
  left:40px;
  top:84px;
  width:57px;
  height:21px;
  font-size:18px;
  color:#06A0A0;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
