body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:697px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  position:absolute;
  left:0px;
  top:14px;
  width:842px;
  height:697px;
}
#u656 {
  position:absolute;
  left:2px;
  top:340px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:57px;
}
#u657 {
  position:absolute;
  left:1px;
  top:0px;
  width:840px;
  height:57px;
}
#u658 {
  position:absolute;
  left:2px;
  top:20px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u659 {
  position:absolute;
  left:27px;
  top:146px;
  width:679px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  white-space:nowrap;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:113px;
}
#u661 {
  position:absolute;
  left:37px;
  top:401px;
  width:617px;
  height:113px;
}
#u662 {
  position:absolute;
  left:2px;
  top:48px;
  width:613px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:70px;
}
#u663 {
  position:absolute;
  left:-28px;
  top:626px;
  width:869px;
  height:70px;
}
#u664 {
  position:absolute;
  left:2px;
  top:27px;
  width:865px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u665 {
  position:absolute;
  left:80px;
  top:262px;
  width:373px;
  height:25px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u667 {
  position:absolute;
  left:80px;
  top:305px;
  width:421px;
  height:25px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u669 {
  position:absolute;
  left:80px;
  top:347px;
  width:421px;
  height:25px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u671 {
  position:absolute;
  left:37px;
  top:257px;
  width:27px;
  height:27px;
}
#u672 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u673 {
  position:absolute;
  left:37px;
  top:257px;
  width:27px;
  height:27px;
}
#u674 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u675 {
  position:absolute;
  left:37px;
  top:301px;
  width:27px;
  height:27px;
}
#u676 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u677 {
  position:absolute;
  left:37px;
  top:301px;
  width:27px;
  height:27px;
}
#u678 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u679 {
  position:absolute;
  left:37px;
  top:344px;
  width:27px;
  height:27px;
}
#u680 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u681 {
  position:absolute;
  left:37px;
  top:344px;
  width:27px;
  height:27px;
}
#u682 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#06A0A0;
}
#u683 {
  position:absolute;
  left:217px;
  top:549px;
  width:190px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#06A0A0;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u685 {
  position:absolute;
  left:27px;
  top:199px;
  width:743px;
  height:48px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:48px;
}
#u687 {
  position:absolute;
  left:33px;
  top:536px;
  width:85px;
  height:48px;
}
#u688 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:20px;
  top:529px;
  width:112px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u690 {
  position:absolute;
  left:44px;
  top:305px;
  width:227px;
  height:16px;
}
#u691 {
  position:absolute;
  left:16px;
  top:0px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u692 {
  position:absolute;
  left:44px;
  top:261px;
  width:227px;
  height:16px;
}
#u693 {
  position:absolute;
  left:16px;
  top:0px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u694 {
  position:absolute;
  left:44px;
  top:348px;
  width:227px;
  height:16px;
}
#u695 {
  position:absolute;
  left:16px;
  top:0px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u696 {
  position:absolute;
  left:32px;
  top:254px;
  width:221px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u697 {
  position:absolute;
  left:34px;
  top:298px;
  width:221px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u698 {
  position:absolute;
  left:37px;
  top:339px;
  width:221px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#06A0A0;
}
#u700 {
  position:absolute;
  left:40px;
  top:84px;
  width:57px;
  height:21px;
  font-size:18px;
  color:#06A0A0;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u702 {
  position:absolute;
  left:33px;
  top:77px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
