body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:724px;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:724px;
}
#u496 {
  position:absolute;
  left:2px;
  top:354px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497 {
  position:absolute;
  left:68px;
  top:335px;
  width:518px;
  height:41px;
}
#u497_input {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u498 {
  position:absolute;
  left:68px;
  top:472px;
  width:518px;
  height:41px;
}
#u498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u499 {
  position:absolute;
  left:60px;
  top:545px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u500 {
  position:absolute;
  left:50px;
  top:92px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
