body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:581px;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:581px;
}
#u529 {
  position:absolute;
  left:2px;
  top:282px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530 {
  position:absolute;
  left:79px;
  top:261px;
  width:246px;
  height:16px;
}
#u531 {
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u532 {
  position:absolute;
  left:79px;
  top:305px;
  width:246px;
  height:16px;
}
#u533 {
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u534 {
  position:absolute;
  left:79px;
  top:348px;
  width:246px;
  height:16px;
}
#u535 {
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:33px;
}
#u536 {
  position:absolute;
  left:70px;
  top:253px;
  width:205px;
  height:33px;
}
#u537 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:32px;
}
#u538 {
  position:absolute;
  left:70px;
  top:297px;
  width:264px;
  height:32px;
}
#u539 {
  position:absolute;
  left:2px;
  top:8px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u540 {
  position:absolute;
  left:70px;
  top:340px;
  width:212px;
  height:33px;
}
#u541 {
  position:absolute;
  left:2px;
  top:8px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542 {
  position:absolute;
  left:66px;
  top:391px;
  width:101px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u543 {
  position:absolute;
  left:74px;
  top:253px;
  width:221px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u544 {
  position:absolute;
  left:70px;
  top:295px;
  width:221px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u545 {
  position:absolute;
  left:70px;
  top:340px;
  width:221px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
