body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:725px;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:725px;
}
#u923 {
  position:absolute;
  left:2px;
  top:354px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924 {
  position:absolute;
  left:70px;
  top:314px;
  width:131px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
