body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:908px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:705px;
}
#u452 {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:705px;
}
#u453 {
  position:absolute;
  left:2px;
  top:344px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454 {
  position:absolute;
  left:69px;
  top:476px;
  width:49px;
  height:39px;
}
#u454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u455 {
  position:absolute;
  left:135px;
  top:476px;
  width:64px;
  height:39px;
}
#u455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u456 {
  position:absolute;
  left:215px;
  top:476px;
  width:72px;
  height:39px;
}
#u456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u457 {
  position:absolute;
  left:50px;
  top:92px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u458 {
  position:absolute;
  left:59px;
  top:526px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
