body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:735px;
}
#u443 {
  position:absolute;
  left:-1px;
  top:-10px;
  width:889px;
  height:735px;
}
#u444 {
  position:absolute;
  left:2px;
  top:360px;
  width:885px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445 {
  position:absolute;
  left:58px;
  top:489px;
  width:49px;
  height:39px;
}
#u445_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u446 {
  position:absolute;
  left:124px;
  top:489px;
  width:64px;
  height:39px;
}
#u446_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u447 {
  position:absolute;
  left:204px;
  top:489px;
  width:72px;
  height:39px;
}
#u447_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u448 {
  position:absolute;
  left:50px;
  top:84px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u449 {
  position:absolute;
  left:48px;
  top:538px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
