body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1066px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:1079px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:1079px;
}
#u188 {
  position:absolute;
  left:2px;
  top:532px;
  width:1062px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:98px;
  top:664px;
  width:539px;
  height:41px;
}
#u189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u190 {
  position:absolute;
  left:98px;
  top:792px;
  width:539px;
  height:41px;
}
#u190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u191 {
  position:absolute;
  left:90px;
  top:1023px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u192 {
  position:absolute;
  left:98px;
  top:948px;
  width:539px;
  height:41px;
}
#u192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u193 {
  position:absolute;
  left:80px;
  top:100px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u195 {
  position:absolute;
  left:2px;
  top:23px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:87px;
}
#u196 {
  position:absolute;
  left:0px;
  top:1099px;
  width:974px;
  height:87px;
}
#u197 {
  position:absolute;
  left:2px;
  top:36px;
  width:970px;
  visibility:hidden;
  word-wrap:break-word;
}
