body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:872px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:770px;
}
#u514 {
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:770px;
}
#u515 {
  position:absolute;
  left:2px;
  top:377px;
  width:868px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u516 {
  position:absolute;
  left:42px;
  top:184px;
  width:743px;
  height:340px;
}
#u517 {
  position:absolute;
  left:2px;
  top:162px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u518 {
  position:absolute;
  left:47px;
  top:184px;
  width:702px;
  height:316px;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  word-wrap:break-word;
}
#u520 {
  position:absolute;
  left:1px;
  top:516px;
  visibility:hidden;
}
#u520_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u520_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:414px;
}
#u521 {
  position:absolute;
  left:0px;
  top:-9px;
  width:866px;
  height:414px;
}
#u522 {
  position:absolute;
  left:2px;
  top:199px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523 {
  position:absolute;
  left:44px;
  top:204px;
  width:308px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u524 {
  position:absolute;
  left:39px;
  top:263px;
  width:100px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u520_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u520_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:459px;
}
#u525 {
  position:absolute;
  left:-3px;
  top:41px;
  width:870px;
  height:459px;
}
#u526 {
  position:absolute;
  left:2px;
  top:222px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u528 {
  position:absolute;
  left:45px;
  top:8px;
  width:27px;
  height:27px;
}
#u529 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u530 {
  position:absolute;
  left:45px;
  top:8px;
  width:27px;
  height:27px;
}
#u531 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u533 {
  position:absolute;
  left:46px;
  top:524px;
  width:27px;
  height:27px;
}
#u534 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u535 {
  position:absolute;
  left:46px;
  top:524px;
  width:27px;
  height:27px;
}
#u536 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u538 {
  position:absolute;
  left:46px;
  top:561px;
  width:27px;
  height:27px;
}
#u539 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u540 {
  position:absolute;
  left:46px;
  top:561px;
  width:27px;
  height:27px;
}
#u541 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542 {
  position:absolute;
  left:52px;
  top:529px;
  width:520px;
  height:24px;
  font-family:'HiraKakuProN-W3', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic ProN';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u543 {
  position:absolute;
  left:16px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
#u542_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u544 {
  position:absolute;
  left:52px;
  top:566px;
  width:520px;
  height:24px;
  font-family:'HiraKakuProN-W3', 'Hiragino Kaku Gothic ProN W3', 'Hiragino Kaku Gothic ProN';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u545 {
  position:absolute;
  left:16px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
#u544_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
