body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:677px;
}
#u362 {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:677px;
}
#u363 {
  position:absolute;
  left:2px;
  top:330px;
  width:879px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364 {
  position:absolute;
  left:56px;
  top:429px;
  width:519px;
  height:39px;
}
#u364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u365 {
  position:absolute;
  left:56px;
  top:288px;
  width:519px;
  height:39px;
}
#u365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:39px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u366 {
  position:absolute;
  left:46px;
  top:499px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
